* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.page {
  display: flex;
  flex-wrap: wrap;
  background-color:  #025259; 
}

.section {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #025259;
  };

.content {

  height: 500px;
 padding: 20px;
}

.contact-me {
  background-color: #F4E2DE;
}

.feature-1 {
  background-color: #F29325;
}

.feature-2 {
  background-color: #D94F04;
}

.feature-3 {
  background-color: #007172;
}


/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #025259; 
  }

  .content {
      background-color: #025259;
  }
  }


/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #025259 
  }
  .sign-up,
  .feature-1,
  .feature-2,
  .feature-3 {
    width: 50%;
  }
  .content {
    background-color: #025259;
    color: #fff;
  }

  .contact-me {
    order: 1;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {background-color: #025259;
}

  .page {
      width: 960px;
      margin: 0 auto;
  }
  .feature-1,
  .feature-2,
  .feature-3 {
      width: 33.3%;
  }
  .header {
      height: 200px;
     
  }
  .contact-me {
      height: 100px;
      order: 2;
      margin-bottom: 50px;
  }

  .section .content .project-title{
      background-color: #025259;
      color: #FFFfff;
  
  }
  }

  .bio {
      margin-top: 100px;
      width: 100%;
      display: block;
      padding: 50px;
  }

  .bio h1 {
      color: #D94F04;
  }

  .bio p {
      font-family: Arial, Helvetica, sans-serif;
      font-size:large;
      line-height: 1.5;
      color: #fff;
  }
  .body {
      background-color: #025259;
  }

  .project-title {
      font-size: 25px;
      color: #FFFfff;
  }

  img {
    opacity:0.4;
    filter:alpha(opacity=40); 
  }
  img:hover {
    opacity:1.0;
    filter:alpha(opacity=100); 
  }

button {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid cornsilk;
  background-color: #025259;
}

button a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  text-decoration: none;
  
  color: #F29325;
}


.thank-you  {
  width: 100%;
 margin-top: 400px;
 margin-left: 400px;

}